@import "../../styles/variables";

.about {
  padding: 20px 10px;
  overflow-x: hidden;
  min-height: 100vh;

  &__button {
    margin: 15px;
  }

  &__content {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    @media (max-width: $breakpoint-s) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__list {
    margin-left: 20px;
  }
  &__item {
    margin-top: 5px;
  }

  &__text {
    flex: 0 0 45%;
    &-content {
      padding: 10px;
      line-height: 140%;
    }
  }

  &__firms {
    flex: 0 0 45%;
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 40px;
    }
    &-item {
      margin: 0 auto;
      & + .about__firms-item {
        margin-top: 55px;
      }
    }
  }
}
