@import "../../styles/variables";

.aside {
  flex: 0 0 300px;
  background: darkgray;
  position: relative;
  z-index: 100;
}

@media (max-width: $breakpoint-l) {
  .aside {
    display: none;
  }
}
