@import "variables";
@import "null";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #140F0B;
  color: lightgrey;
}

section {
  min-height: 100vh;
  background: #140F0B;
}


