@import "variables";
@import "null";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #140F0B;
  color: lightgrey;
  font-family: 'Merriweather', serif;
}

section {
  background: #140F0B;
}


:root {
  --vh: 1;
}
