$main-text-color: lightgray;
$contrast-text-color: #660066;
$main-background-color: #140F0B;
$menu-background-color: darkgray;

$breakpoint-l: 1200px;
$breakpoint-m: 992px;
$breakpoint-s: 768px;
$breakpoint-xs: 576px;

$fontFamily: sans-serif;
$minWidth: 360px;
