@import "../../styles/variables";

.title {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 0 0 10px $neon-color,
               0 0 20px $neon-color,
               0 0 40px $neon-color,
               0 0 60px $neon-color;
  @media (max-width: $breakpoint-m) {
    font-size: 36px;
    text-shadow: 0 0 10px $neon-color,
                  0 0 20px $neon-color,
                  0 0 40px $neon-color,
  }
  @media (max-width: $breakpoint-s) {
    font-size: 32px;
    text-shadow: 0 0 10px $neon-color,
    0 0 20px $neon-color,
  }
  &__box {
    padding: 20px 45px;
    height: 200px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media (max-width: $breakpoint-m) {
      height: 160px;
      padding: 15px 40px;
    }
    @media (max-width: $breakpoint-s) {
      height: 140px;
      padding: 10px 30px;
    }
    @media (max-width: $breakpoint-xs) {
      height: 120px;
      padding: 5px 20px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 15%;
      left: 0;
      width: 5px;
      height: 70%;
      border-radius: 10px;
      background: #fff;
      z-index: 2;
      box-shadow: 0 0 10px $neon-color,
                  0 0 20px $neon-color,
                  0 0 40px $neon-color;
      animation: animateLightBar 5s linear infinite;
      @media (max-width: $breakpoint-m) {
        box-shadow: 0 0 10px $neon-color,
                    0 0 20px $neon-color;
      }
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #140F0B;
      animation: animateTolLayer 10s linear infinite;
    }
  }
}

@keyframes animateTolLayer {
  0%, 2.5% {
    left: 0;
  }
  5% {
    left: 0;
  }
  45% {
    left: 100%;
  }
  47.5%, 50% {
    left: 100%;
  }
  50.001%, 52.5% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  95% {
    left: 0;
  }
  97.5%, 100% {
    left: 0;
  }
}

@keyframes animateLightBar {
  0%, 5% {
    transform: scaleY(0);
    left: 0;
  }
  10% {
    transform: scaleY(1);
    left: 0;
  }
  90% {
    transform: scaleY(1);
    left: 100%;
  }
  95%, 100% {
    transform: scaleY(0);
    left: 100%;
  }
}
