@import "../../styles/variables";

.privacy-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 20%;
  z-index: 100000;
}

@media (max-width: $breakpoint-l) {
  .privacy-screen {
    left: 0;
  }
}
