@import "../../styles/variables";

.burger-menu {
  display: none;
}

@media (max-width: $breakpoint-l) {
  .burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    transition: 0s;
    z-index: 100;
    &_is-active-true {
      right: 0;
    }
    &_is-active-false {
      transition-delay: 1s;

    }
  }
  .background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #181818;
    z-index: 1000;
    height: 100%;
  }
}

