@import "../../../styles/variables";

.burger-navigation {
  &__item {
    position: relative;
    z-index: 10000;
    padding: 10px;
    font-size: 28px;
    font-weight: 700;
    & + .burger-navigation__item {
      margin-top: 20px;
    }
  }
  &__link {
    color: #fff;
    &.active {
      color: #fff;
      text-shadow: 0 0 10px $neon-color,
      0 0 20px $neon-color,
      0 0 40px $neon-color,
      0 0 60px $neon-color,
      0 0 80px $neon-color;
      @media (max-width: $breakpoint-m) {
        text-shadow: 0 0 10px $neon-color,
        0 0 20px $neon-color,
        0 0 40px $neon-color,
        0 0 60px $neon-color,
      }
      @media (max-width: $breakpoint-s) {
        text-shadow: 0 0 10px $neon-color,
        0 0 20px $neon-color,
        0 0 40px $neon-color,
      }
      @media (max-width: $breakpoint-xs) {
        text-shadow: 0 0 10px $neon-color,
        0 0 20px $neon-color,
      }
    }
  }

}
