@import "../../styles/variables";

.wrapper {
  display: flex;
  min-height: 100vh;
}

.burger {

}

.main {
  flex: 0 0 80%;
}

@media (max-width: $breakpoint-l) {
  .wrapper {
    display: block;
  }
}
