@import "../../styles/variables";

.progressbar {
  margin-top: 5px;
  height: 10px;
  border-radius: 5px;
  position: relative;
  transition: 0.5s;

  &-1 {
    &::before {
      background: linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094);
    }
    &::after {
      background: linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094);
      @media (max-width: $breakpoint-m) {
        background: none;
      }
    }
  }
  &-2 {
    &::before {
      background: linear-gradient(90deg, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff);
    }
    &::after {
      background: linear-gradient(90deg, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff);
      @media (max-width: $breakpoint-m) {
        background: none;
      }
    }
  }
  &-3 {
    &::before {
      background: linear-gradient(90deg, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00);
    }
    &::after {
      background: linear-gradient(90deg, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00);
      @media (max-width: $breakpoint-m) {
        background: none;
      }
    }
  }
  &-4 {
    &::before {
      background: linear-gradient(90deg, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00);
    }
    &::after {
      background: linear-gradient(90deg, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00, #fb0094, #0000ff, #00ff00, #ffff00);
      @media (max-width: $breakpoint-m) {
        background: none;
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    animation: animateSkill 30s linear infinite;
    background-size: 500%;
    border-radius: 5px;

  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    animation: animateSkill 30s linear infinite;
    background-size: 500%;
    filter: blur(20px);
    @media (max-width: $breakpoint-m) {
      filter: blur(10px);
    }
    @media (max-width: $breakpoint-s) {
      filter: blur(5px);
    }
  }
}
